@charset "UTF-8";
/* 全局样式定义 Powered by Zoomla!逐浪CMS z01.com*/
@import url("//code.z01.com/Zfont.css");
@import url("/dist/css/ZLico.css");
.jumbotron { margin-top: -3.6rem; }

h1 small { font-size: 50%; font-weight: 100; }

/*下载按钮*/
.btn-bd-yellow { font-weight: 500; color: #868e96; border-color: #868e96; }

/*左侧滚动*/
.title-inner, .sidebar .h2 { display: block; margin-left: -1rem; margin-top: 1rem; margin-bottom: 1.4rem; font-size: 1.12rem; font-weight: 600; }

.sidebar { margin-top: 1rem; }
.sidebar li a { color: #c69; text-decoration: none; font-size: 1rem; }
.sidebar li a:hover { color: #162A46; }
.sidebar .h3 { font-size: 1.12rem; font-weight: normal; }
.sidebar .h4 { margin-left: 1rem; font-size: 1.12rem; font-weight: normal; }

.bd-sidebar { overflow-y: auto; }

.bd-content .anchorh1 { padding-top: 2rem; font-size: 2.0rem; font-weight: 900; }
.bd-content .anchorh2 { padding-left: 3rem; margin-top: 1.28rem; line-height: 3rem; font-size: 1.38rem; border-left: 6px solid #2D9900; background-color: #f5f5f5; }

.emmetCode { padding: 1rem 2rem; line-height: 1; border: 1px solid #ccc; border-radius: 0.2rem; }
.emmetCode code { padding: 0; background-color: #fff; }

/*鼠标状态的交通*/
.ch-tabstop { background: #8eb632; display: inline-block; padding: 0 5px; color: #fff; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 4px; }

.ch-caret { border-left: 2px solid #578fe3; margin: 0 2px -.1em; display: inline-block; height: 1.1em; }

/*key:UG93ZXJlZCBieSBab29tbGEh6YCQ5rWqQ01TIHd3d3cuejAxLmNvbQ== */
